*{
	margin: 0;
	padding: 0;
}

		body{
			font-family: 'Rubik Mono One', sans-serif;

		}
		#white{
			color: white;
		}
		#gradient{
			background-color: rgba(29,32,41,0.7);
		
			

		}
		#logo{
			height: 30px;
			width: 30px;

		}
		#pixel{
			font-family: 'Press Start 2P', cursive;
			color: white;
			font-size: 20px;
		}
		#backgroundlala{
			background-color: rgb(186,92,90);
		}
		#pure1{
			/*background-color: rgba(145,101,91,0.9);*/
			background-color: rgb(56,51,57);
			
		}
		#containerlogo{
			background-color: rgb(186,92,90);
		}
		#logofont{
				font-family: 'Press Start 2P', cursive;
				font-size: 12px;
				text-decoration: none;
				color: white;

		}
		#Aboutme{
			background-image: url("./bg4.jpg");
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: 500%;
			background-position: top;

		}
